In [1]:
%load_ext autoreload
%autoreload 2

>> #### Importing the necessary libraries

In [2]:
import dvc.api
import pandas as pd
from pandas_profiling import ProfileReport
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sys, os

>> #### Importing required modules

In [3]:
sys.path.append(os.path.abspath(os.path.join('../scripts')))
from load_data import LoadData

>> Initialize modules

In [4]:
loader = LoadData()

>> Load Dataset using DVC

In [ ]:
# Get URL from DVC
data_url = 'data/location1.csv'
repo = 'https://github.com/jedisam/Scalable_DataWarehouse'
version = '2294ec4246e4b1ba6f692d5ad6e447ba67444e1d'

In [ ]:
# Load train data from dvc using the dvc.api.Dataset class
data = dvc.api.get_url(
    path=data_url,
    repo=repo,
    rev=version
)

In [5]:
data = loader.read_csv('../data/location1.csv')

In [6]:
data.head()

  track_id; type; traveled_d; avg_speed; lat; lon; speed; lon_acc; lat_acc; time
0  1; Car; 48.85; 9.770344; 37.977391; 23.737688;...
1  2; Motorcycle; 98.09; 19.839417; 37.977642; 23...
2  3; Motorcycle; 63.80; 18.228752; 37.977997; 23...
3  4; Motorcycle; 145.72; 26.229014; 37.978135; 2...
4  5; Motorcycle; 138.01; 24.841425; 37.978134; 2...

In [6]:
data.shape

(922, 1)

In [30]:
data = pd.read_csv("../data/location1.csv", sep="[,;:]", index_col=False, error_bad_lines=False)

/tmp/ipykernel_11242/2897970687.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  data = pd.read_csv("../data/location1.csv", sep="[,;:]", index_col=False, error_bad_lines=False)

>> Shape of data

In [31]:
data.shape

(922, 10)

>> Overview

In [32]:
data.head()

,track_id,type,traveled_d,avg_speed,lat,lon,speed,lon_acc,lat_acc,time
0,1,Car,48.85,9.770344,37.977391,23.737688,4.9178,0.0518,-0.0299,0.0
1,2,Motorcycle,98.09,19.839417,37.977642,23.737400,16.9759,-0.0361,-0.0228,0.0
2,3,Motorcycle,63.80,18.228752,37.977997,23.737264,20.1906,-0.0795,-0.3395,0.0
3,4,Motorcycle,145.72,26.229014,37.978135,23.737072,2.7555,-0.0302,0.0948,0.0
4,5,Motorcycle,138.01,24.841425,37.978134,23.737103,0.0000,0.0000,0.0000,0.0

Data info

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 922 entries, 0 to 921
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   track_id     922 non-null    int64
 1    type        922 non-null    object
 2    traveled_d  922 non-null    float64
 3    avg_speed   922 non-null    float64
 4    lat         922 non-null    float64
 5    lon         922 non-null    float64
 6    speed       922 non-null    float64
 7    lon_acc     922 non-null    float64
 8    lat_acc     922 non-null    float64
 9    time        922 non-null    float64
dtypes: float64(8), int64(1), object(1)
memory usage: 72.2+ KB

ALl of the features except type are numeric.

In [34]:
data.columns

Index(['track_id', ' type', ' traveled_d', ' avg_speed', ' lat', ' lon',
       ' speed', ' lon_acc', ' lat_acc', ' time'],
      dtype='object')

In [36]:
data[' type'].value_counts()

 Car               426
 Motorcycle        251
 Taxi              176
 Medium Vehicle     26
 Bus                23
 Heavy Vehicle      20
Name:  type, dtype: int64

Most of the vehicle types identified are of type car & Motorcycle